/* Style.CSS */
@font-face {
    font-family: Myanmar3, Yunghkio;
    src: url(http://mmwebfonts.comquas.com/fonts/?font=myanmar3);
}

div {
    font-family: Myanmar,Yunghkio;
}

body {
    background-color: #F1F8E0;
}

.menu{
    list-style: none;
    padding: 0px;
    text-align: center;
}
.menu li{
    display: inline;
    padding: 5px;
}

.menu li a{
    text-decoration: none;
    color: #E74C3C;
    border-bottom: 1px dotted #E74C3C;
}
