/* Style.CSS */
@font-face {
    font-family: Myanmar3, Yunghkio;
    src: url(http://mmwebfonts.comquas.com/fonts/?font=myanmar3);
}

div {
    font-family: Myanmar,Yunghkio;
}

body {
    background-color: #F1F8E0;
}
